/* Main Layout */

body {
    background-color:#000000;
    color:#CECECE;
    font-family: 'Lato', sans-serif;
    margin:0;
	}

a:link {
    color: #CECECE;
    text-decoration: none;
}

a:visited {
    color: #CECECE;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    border-top: 4px solid white;
    padding-top: 8px;
}

a:active {
    color: #000000;
    text-decoration: none;
}

.wrapper {
   display: grid;
   grid-template-rows: repeat(1,1fr);
   /* grid-gap: 40px;*/
   background-image: none;
}

/* Header */

.header {
    height:auto;
}

.logo {
    display: grid;
    justify-content: center;
}

/* Content */

/* One column */

.main-content {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-content: center;
}

/* .content {
    display:grid;
    justify-content: center;
    align-content: center;
} */

/* Menu */

.menu {
   display:grid;
   position: relative;
   color: #000;
   justify-content: center;
}

ul {
    padding-left:0;
} 

.menu li {
    border:1px solid #CECECE;
    border-radius: 5px;
    color:#FFFFFF;
    display:inline;
    list-style: none;
    padding:10px;
}

/* Footer */

.footer {
  height:100px;
  display:grid;
  grid-row-end:5;
}

@media only screen and (min-width: 881px) {

/* Main layout */

.wrapper {
    /* border: 2px solid #0C0C0C; */
    border-radius: 5px;
    background-color: #000000;
}

/*.wrapper > div {
    /* border: 2px solid #808080;
    border-radius: 5px;
    background-color: #CEC#000000;
    padding: 1em;
}*/

.wrapper {
   display: grid;
   /* grid-template-rows: repeat(2,1fr);
   grid-gap: 20px;*/
   background-image: url("../img/bg.jpg");
   background-size: cover;
}

/* Header */

.header {
    height:200px;
}

.logo {
    display: grid;
    justify-content: start;
}

.logo img{
    width:200px;
}

/* Menu */

.menu {
   position: absolute;
   top: 20px;
   left: 40%;
   right:5%;
   border-radius:5px;
   color: #000;
   padding: 10px;
}

/* Content Area */

/* Two column */

.two-column-content {
  display:grid;
  grid-template-columns: repeat(2,1fr);
}

/* Three column */

.three-column-content {
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.three-left-inside {
    display:grid;
    align-items: center;
}

.three-middle-inside {

}

.three-right-inside {

}

/* Footer */

.footer {
  height:100px;
  grid-row-end:5;
  justify-content: center;
}

