body {
    background-color:#000000;
    color:#CECECE;
    font-family: 'Lato', sans-serif;
    margin:0;
	}

.header {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    margin:0;
}

.wrapper {
   display: grid;
   grid-template-rows: repeat(4,1fr);
   grid-gap: 40px;
}

.logo {
    display: grid;
    justify-content: center;
}

.menu {
   display:grid;
   position: relative;
   color: #000;
   justify-content: center;
}

ul {
    padding-left:0;
}

.menu li {
    border:1px solid #CECECE;
    border-radius: 5px;
    color:#FFFFFF;
    display:inline;
    list-style: none;
    padding:10px;
}

.footer {
  height:100px;
  display:grid;
  grid-row-end:5;
}

@media only screen and (min-width: 881px) {

.header {
    height:300px;
}

.wrapper {
    /* border: 2px solid #0C0C0C; */
    border-radius: 5px;
    background-color: #000000;
}

.wrapper > div {
    /* border: 2px solid #808080;
    border-radius: 5px;*/
    background-color: #CEC#000000;
    padding: 1em;
}
.wrapper {
   display: grid;
   grid-template-rows: repeat(2,1fr);
   grid-gap: 10px;
}

.logo {
    display: grid;
    justify-content: start;
}

.logo img{
    width:200px;
}
.content {
  display:grid;
  grid-template-columns: repeat(3,1fr);
}
.menu {
   position: absolute;
   top: 20px;
   left: 40%;
   right:5%;
   border-radius:5px;
   color: #000;
   padding: 10px;
}

.footer {
  height:100px;
  display:grid;
  grid-row-end:5;
}
}